client/.DS_Store
client/node_modules
client/dist
client/.env.local
client/.env.*.local
client/.env
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*
client/pnpm-debug.log*
client/.idea
client/.vscode
client/*.suo
client/*.ntvs*
client/*.njsproj
client/*.sln
client/*.sw?
client/.DS_Store
client/node_modules
client/dist

server/.DS_Store
server/node_modules
server/dist
server/.env.local
server/.env.*.local
server/.env
server/npm-debug.log*
server/yarn-debug.log*
server/yarn-error.log*
server/pnpm-debug.log*
server/.idea
server/.vscode
server/*.suo
server/*.ntvs*
server/*.njsproj
server/*.sln
server/*.sw?